<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<p>
  Salut {{firstName}},
  <br/>
  <br/>
  Tu as participé au concours {{merchantName}} et tu as été génial !
  <br/>
  Quel score, félicitations !
  <br/>
  Un grand score appelle un grand cadeau.
  <br/>
  <br/>
  Et bonne nouvelle.. Il n'attend plus que toi pour te rejoindre :
  Indique ton adresse postale et ton numéro de téléphone dans la section "gérer les détails du compte" dans l'onglet
  profil de CHIRO afin que la super équipe de {{merchantName}} puisse procéder à son envoi !
  <br/>
  Vu ta performance, cette récompense va surement en appeler beaucoup d’autres ;)
  <br/>
  <br/>
  PS: Une fois ton cadeau réceptionné, nous te serions vraiment reconnaissant si tu pouvais le publier en story
  Instagram en taguant le compte de {{merchantName}} et nous.
  On pourra ainsi reposter et t’ajouter à notre longue liste des vainqueurs de Chiro 🤩
  <br/>
  PS2: Aurais-tu la gentillesse de nous laisser un avis sur le store ? 🙏 ça nous aiderait énormément ! (Lien =
  https://linktr.ee/chiro.app)
  <br/>
  <br/>
  Avec toute notre tendresse,
  <br/>
  L’équipe de Chiro
</p>
</body>
</html>